## LATEX ##
# File di output
*.pdf

# File generati dalla compilazione
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.lol
*.fls
*.fdb_latexmk

# File generati da beamer
*.nav
*.snm
*.vrb

## C ##
bin/
obj/

## VSCODE ##
.vscode/
